Rsamples/webservice/jaxws_security/trust/trust_client/src/conf/wsit-client.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/" xmlns:tns="http://tempuri.org/"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://www.w3.org/2006/05/addressing/wsdl"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/">

    <!-- FinancialService WSDL -->
    <wsp:Policy wsu:Id="TmaxFSClientPolicy" xmlns:sc="http://schemas.sun.com/2006/03/wss/client"
    xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:scc="http://schemas.sun.com/ws/2006/05/sc/client">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:KeyStore wspp:visibility="private" location="client-keystore.jks" type="JKS"
                alias="alice" storepass="changeit"></sc:KeyStore>
                <sc:TrustStore wspp:visibility="private" location="client-truststore.jks" type="JKS"
                storepass="changeit" peeralias="bob"></sc:TrustStore>
                <scc:SCClientConfiguration wspp:visibility="private">
                    <scc:LifeTime>60000</scc:LifeTime>
                </scc:SCClientConfiguration>
                
				<!--
                <tc:PreconfiguredSTS xmlns:tc="http://schemas.sun.com/ws/2006/05/trust/client"
                endpoint="http://localhost:9000/trust_sts/SecurityTokenService" wsdlLocation="http://localhost:9000/trust_sts/SecurityTokenService?wsdl"
                serviceName="SecurityTokenService" portName="ISecurityTokenService_Port" namespace="http://tempuri.org/">
                </tc:PreconfiguredSTS>

				-->
            
		    </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:message name="DABRequest">
        <wsdl:part name="Department" element="q:Department" xmlns:q="http://xmlsoap.org/DAB" />
    </wsdl:message>
    <wsdl:message name="DABResponse">
        <wsdl:part name="AccountBalance" element="q:AccountBalance" xmlns:q="http://xmlsoap.org/DAB" />
    </wsdl:message>
    <wsdl:portType name="IFinancialService">
        <wsdl:operation name="getAccountBalance">
            <wsdl:input wsap:Action="http://xmlsoap.org/DAB" name="DABRequest" message="tns:DABRequest" />
            <wsdl:output wsap:Action="http://xmlsoap.org/DAB" name="DABResponse" message="tns:DABResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IFinancialService_Binding" type="tns:IFinancialService">
        <wsp:PolicyReference URI="#TmaxFSClientPolicy" />
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getAccountBalance">
            <soap:operation soapAction="http://xmlsoap.org/DAB" style="document" />
            <wsdl:input name="DABRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="DABResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FinancialService">
        <wsdl:port name="IFinancialService_Port" binding="tns:IFinancialService_Binding">
            <soap:address location="http://localhost:8088/trust_server/FinancialService" />
        </wsdl:port>
    </wsdl:service>
    
    <!-- STSService WSDL -->
    <wsp:Policy wsu:Id="TmaxSTSClientPolicy" xmlns:sc="http://schemas.sun.com/2006/03/wss/client"
    xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:scc="http://schemas.sun.com/ws/2006/05/sc/client">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:KeyStore wspp:visibility="private" location="client-keystore.jks" type="JKS"
                alias="alice" storepass="changeit"></sc:KeyStore>
                <sc:TrustStore wspp:visibility="private" location="client-truststore.jks" type="JKS"
                storepass="changeit" peeralias="wssip"></sc:TrustStore>
                <sc:CallbackHandlerConfiguration xmlns:sc="http://schemas.sun.com/2006/03/wss/client">
                    <sc:CallbackHandler default="alice" name="usernameHandler" />
                    <sc:CallbackHandler default="alice" name="passwordHandler" />
                </sc:CallbackHandlerConfiguration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:message name="ISecurityTokenService_IssueToken_InputMessage">
        <wsdl:part name="rstMessage" element="q1:MessageBody" xmlns:q1="http://schemas.message.com/Message" />
    </wsdl:message>
    <wsdl:message name="ISecurityTokenService_IssueToken_OutputMessage">
        <wsdl:part name="IssueTokenResult" element="q2:MessageBody" xmlns:q2="http://schemas.message.com/Message" />
    </wsdl:message>
    <wsdl:portType name="ISecurityTokenService">
        <wsdl:operation name="IssueToken">
            <wsdl:input wsap:Action="http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Issue"
            message="tns:ISecurityTokenService_IssueToken_InputMessage" />
            <wsdl:output wsap:Action="http://schemas.xmlsoap.org/ws/2005/02/trust/RSTR/Issue"
            message="tns:ISecurityTokenService_IssueToken_OutputMessage" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ISecurityTokenService_Binding" type="tns:ISecurityTokenService">
        <wsp:PolicyReference URI="#TmaxSTSClientPolicy" />
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="IssueToken">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Issue" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SecurityTokenService">
        <wsdl:port name="ISecurityTokenService_Port" binding="tns:ISecurityTokenService_Binding">
            <soap:address location="http://localhost:8088/trust_sts/STSImplService" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
